<div class="hero-unit">
	<h2>This Site is a Test</h2><br>
		<p>I&rsquo;m sinking my teeth into 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		, a project to teach just about anyone 
		<%= link_to "Ruby on Rails", "http://rubyonrails.org" %> 
		in one month. <br><br><%= link_to "Optical Arrest", root_path, class: "brand" %> is a test project, to see whether you can&mdash;in fact&mdash;teach an old dog new tricks.
		</p>
</div>